.log-in{
  margin-block-start: 30px;
}

.log-in {
  width: 600px;
}
.log-in .box-form  input {
  margin-block-end: 5px;
}
.log-in .box-form  button {
  padding: 5px 10px;
  margin: 0 auto;
}
.log-in .box-form  a{
  margin-block-end: 15px;
}

.log-in .box-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.log-in .box-form form{
width: 90%;
}
.log-in .box-form h1 {
  text-align: center;
}


