
input{
      margin-left: auto;
      margin-right: auto;
      margin: 5px;
    }
    button{
      width: 100px;
      margin-left: auto;
      margin-right: auto;
    }
    .box-form {
      padding: 10px;
    }
@media only screen and (min-width: 768px) {
    .container{
      width: 600px;
    }
    .box-form {
      width:75%;
    }

}
