<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="" width="30" height="30" class="d-inline-block align-top" alt=" ">
    TaskTeam
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
    <ul class="navbar-nav">
    <li>
      <a class="btn btn-outline-success mr-1 mb-md-1 mb-sm-1" href="#" role="button">Log-In</a>
    </li>
    <li class="navbar-nav">
      <a class="btn btn-success mr-1 mb-md-1 mb-sm-1" href="#" role="button">Sign-In</a>
    </li>
  </ul>
  </div>
</nav>
